* {
  padding: 0;
  margin: 0;
}

.common {
  background-color: #e0dbcc;
}

:root {
  --main-var-size: 1px;
}

@media (max-width: 1280px) {
  :root {
    --main-var-size: calc(100vw / 1280);
  }
}
.background-img-card {
  background-size: cover;
  width: 100%;
}

.Not-only {
  margin: 0 auto;
  max-width: 1280px;
}

.header {
  position: absolute;
  display: flex;
  margin: calc(32 * var(--main-var-size)) calc(40 * var(--main-var-size));
  justify-content: space-between;
  width: calc(1200 * var(--main-var-size));
}

.logo1 {
  font-family: Georgia, serif;
  font-size: calc(32 * var(--main-var-size));
  line-height: 105%;
  letter-spacing: calc(1.92 * var(--main-var-size));
  color: #f1cdb3;
}

.logo2 {
  font-family: Arial, sans-serif;
  font-size: calc(12 * var(--main-var-size));
  letter-spacing: calc(1.92 * var(--main-var-size));
  line-height: 270%;
  color: #ffffff;
  padding-left: calc(3.2 * var(--main-var-size));
}

.nav {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: calc(15 * var(--main-var-size));
  color: #cdcdcd;
  padding-bottom: calc(5 * var(--main-var-size));
}
.nav .nav1 {
  margin-left: calc(32 * var(--main-var-size));
  border-bottom: calc(5 * var(--main-var-size)) solid rgba(0, 0, 0, 0);
  padding-bottom: calc(5 * var(--main-var-size));
}
.nav .nav1:hover {
  color: #ffffff;
  border-bottom: calc(5 * var(--main-var-size)) solid #f1cdb3;
  cursor: pointer;
}

.text-Not-only {
  font-family: Georgia, serif;
  position: absolute;
  font-size: calc(46 * var(--main-var-size));
  font-weight: 400;
  line-height: 130%;
  letter-spacing: calc(-0.8 * var(--main-var-size));
  color: #ffffff;
  margin: calc(330 * var(--main-var-size)) calc(40 * var(--main-var-size));
  -webkit-text-stroke: calc(1 * var(--main-var-size)) black;
}

.text-We-often {
  font-family: Arial, sans-serif;
  position: absolute;
  font-size: calc(15 * var(--main-var-size));
  line-height: 160%;
  color: #cdcdcd;
  margin: calc(500 * var(--main-var-size)) calc(40 * var(--main-var-size));
}

.button-Not-only {
  position: absolute;
  width: calc(207 * var(--main-var-size));
  height: calc(52 * var(--main-var-size));
  align-items: center;
  background-color: #f1cdb3;
  border: calc(2 * var(--main-var-size)) solid #000000;
  border-radius: calc(100 * var(--main-var-size));
  box-sizing: border-box;
  margin: calc(613 * var(--main-var-size)) calc(40 * var(--main-var-size));
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: calc(17 * var(--main-var-size));
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.About {
  position: relative;
  margin: 0 auto;
  max-width: 1280px;
  height: calc(588 * var(--main-var-size));
  background-color: #ffffff;
}

.block-About {
  position: relative;
  width: 1200px;
  height: 408px;
  left: 40px;
  top: 80px;
}

.img-About {
  position: absolute;
  width: 300px;
  height: 408px;
  left: 175px;
}

.text-About {
  position: absolute;
  width: 430px;
  height: 380px;
  left: 595px;
  top: 14px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
}
.text-About .text-About-header {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.Pets {
  position: relative;
  margin: 0 auto;
  height: 877px;
  background: #f6f6f6;
  max-width: 1280px;
}
.Pets .Pets-content {
  position: absolute;
  width: 1200px;
  height: 697px;
  left: 40px;
  top: 80px;
}
.Pets .Heading {
  position: absolute;
  width: 400px;
  height: 90px;
  left: 400px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.Pets .Slider {
  position: absolute;
  width: 1200px;
  height: 435px;
  left: 0px;
  top: 150px;
  background-color: #753434;
}
.Pets .card {
  position: absolute;
  width: 270px;
  height: 435px;
  top: 0px;
  background: #fafafa;
  border-radius: 9px;
  border-radius: 9px 9px 0px 0px;
}
.Pets .card .button_secondary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 187px;
  height: 52px;
  left: 41.5px;
  top: 353px;
  width: 97px;
  height: 22px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  /* identical to box height, or 22px */
  letter-spacing: 0.06em;
  /* color-dark-3xl */
  color: #292929;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.Pets .card .button_secondary .button_primary {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 45px;
  gap: 10px;
  width: 187px;
  height: 52px;
  /* color-primary */
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.Pets .card .text {
  position: absolute;
  width: 74px;
  height: 23px;
  left: 98px;
  top: 300px;
  /* pets-card-title */
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}/*# sourceMappingURL=style.css.map */